body {
    background: #ccc;
}

.subtitle, .post_title {
    color: blue;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.title {
    color: blue;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}